C:/Users/vonkr/Documents/kirk/.vscode/**
C:/Users/vonkr/Documents/kirk/ArduinoOutput/**
C:/Users/vonkr/Documents/kirk/ArduinoOutput/maths.*
C:/Users/vonkr/Documents/kirk/ArduinoOutput/libraries/**
C:/Users/vonkr/Documents/kirk/lowpowertest/ArduinoOutput/**
C:/Users/vonkr/Documents/kirk/maths/lowpowertest/.vscode/**
C:/Users/vonkr/Documents/kirk/blink/ArduinoOutput/**
C:/Users/vonkr/Documents/kirk/blink/.vscode/*
C:/Users/vonkr/Documents/kirk/ArduinoOutput/*
